Thanks for signing up for HomeBrewster!


This month's kit is a delicious Gingerbread Ale and is being shipped on Monday, November 18th.


The deadline for this month is Friday, November 15th.  If you missed the deadline, no worries, you are signed up to receive your first kit next month.


If you have any questions, suggestions or just want to talk about brewing, email me at shane@homebrewster.com and I will be glad to chat.


Thanks and happy brewing!  Cheers!


