- content_for :title, "FAQ"

.content.container
  .row#faq
    .span10
      %h2 FAQ

      .question
        %p.lead What is HomeBrewster?
        %p We are a brew kit every 3 months service that aims to bring you unique and seasonal beer kits.

      .question
        %p.lead Is HomeBrewster a subscription?
        %p Yes, every 3 months you will receive a new beer kit and be charged $50 for that kit and shipping.  There isn't a contract, so you are free to stop at any time.

      .question
        %p.lead What kind of recipes do you send?
        %p All kinds!  We select each recipe based on the time of year, and uniqueness of the brew.

      .question
        %p.lead Are all of your kits extract?
        %p Yes, we only send extract kits.  Our kits are primarily dry malt extract with a specialty grain bag for extra flavor and color.

      .question
        %p.lead Will the kit have instructions?
        %p Yes, each kit comes with step by step instructions but if that is not enough, a video for each kit will be posted on the site.

      .question
        %p.lead Which months do we ship?
        %p You will receive 4 kits a year in January, April, July, and October.

      .question
        %p.lead When do kits ship each month?
        %p Kits ship on the third Monday of the month.  This ensures the kit arrives before the weekend so you are ready to brew.

      .question
        %p.lead Where do you ship to?
        %p We currently ship to the US only.  Sorry for the inconvenience.

      .question
        %p.lead When will I be charged?
        %p You will not be charged until your kit ships.

      .question
        %p.lead How big are the kits?
        %p Each kit is designed for a five gallon batch of beer.  If you want to brew more or less, please contact us and we will see what we can do.

      .question
        %p.lead Can I cancel my account?
        %p You can, but why would you want to!  If you have an issue with the service or the recipes, please contact us.  We want to make your experience as pleasurable as possible.

      .question
        %p.lead Where can I find more information about how to brew?
        %p
          Our blog has a lot of good articles about brewing, and we are constantly adding more.  Check it out
          = link_to "here", "http://blog.homebrewster.com"
          = "."

