- content_for :title, "Contact Us"

.content.container
  #wufoo-z1inf6zg1j73f1j
    Fill out my
    = link_to "online form", "https://homebrewster.wufoo.com/forms/z1inf6zg1j73f1j"

:javascript
  var z1inf6zg1j73f1j;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'homebrewster',
  'formHash':'z1inf6zg1j73f1j',
  'autoResize':true,
  'height':'499',
  'async':true,
  'host':'wufoo.com',
  'header':'show',
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { z1inf6zg1j73f1j = new WufooForm();z1inf6zg1j73f1j.initialize(options);z1inf6zg1j73f1j.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');

