// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dollar-desc{
  padding-right: 20px;
}

.messages{
  padding: 20px 0px 0px;
}

.marketing-container{
  padding: 70px 0 80px;

  h2{
    font-size: 2em;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: normal;
    color: #2aaf62;
  }

  p.info, li{
    line-height: 1.5;
  }

  .btn-large{
    font-weight: bold;
    font-size: 1.1em;
    padding: 20px 0 20px;
  }

  p.info{
    margin-bottom: 20px;
    font-size: 1.1em;
  }

  &.dark{
    background-color: #444;
    color: #fff;
  }

  &.light{
    background-color: #f8f8f8;
  }

}

.tag-line{
  margin: 40px 0px 80px;
}

@media screen and (max-width: 1920px) {
  .header_background{
    left: 50%;
    margin-left: -960px;
  }
}

.huge-money{
  font-size: 8em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.shipping{
  font-size: 15px;
  margin-bottom: 25px;
}

.little-dollar-sign{
  font-weight: bold;
  font-size: 60px;
  margin-right: -30px;
}

.little-pennies{
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
  margin-top: 18px;
  margin-left: -20px;
}

.call-to-action{

  .btn-large{
    font-weight: bold;
    font-size: 1.4em;
    padding: 20px 40px 23px;
  }

}

.header{
  background: #ebebeb image-url("mega_header_bg.png") center bottom repeat-x;

  .navigation-container{
    text-align: center;
    padding: 30px 0;

    h2{
      font-size: 2.5em;
      line-height: 1;
      font-weight: normal;
    }

    img{
      margin: 30px 0px;
    }

    p.lead{
      text-align: right;
    }

  }
}
