.header
  = image_tag "field.jpg", class: "header_background"
  .navigation-container
    %h2 Delicious beer kits sent to your door!
    %p.lead.muted Every 3 months we will send you the ingredients for a unique and seasonal beer kit.
    = link_to "Start Brewing Great Beer!", new_user_registration_path, class: "btn btn-danger btn-large"
