.header
  .navigation-container
    %h1 Dead simple business website builder.
    = image_tag "device_art.png"
    .container
      .row-fluid
        .span10.text-center.offset1
          %p.lead A good, mobile optimized website gives your business the internet presence it needs.
          = simple_form_for @user, url: user_registration_path, html: {class: "form-inline"} do |f|
            = f.input_field :email, class: "input-large", placeholder: "Email", pattern: ".+", minLength: 1
            = f.button :submit, "Reserve Your Spot!", class: "btn btn-success btn-large"
