.header
  .navigation-container
    %h2 Build your website quickly, easily, and affordably.
    = image_tag "device_art.png"
    .container.call-to-action
      .row-fluid
        .span8
          %p.lead A good, mobile optimized website gives your restaurant the internet presence it needs to bring in more customers.
        .span4
          = link_to "Reserve Your Spot!", new_user_registration_path, class: "btn btn-success btn-large"
